body {
  font-family: Arial, sans-serif;
  background-color: #303030;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}



.geist{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
*{
  font-family: "Geist" ;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

h1 {
  text-align: left;
}
#beaches-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}
.beach-card {
  background-color: rgb(32, 32, 32);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  position: relative;
  text-align: left;
}
.wind-arrow {
  position: absolute;
  top: calc(50% - 12px);
  right: 54px;
  width: 24px;
  height: 24px;
  background-image: url('img/arrow.png') ;
  background-size: contain;
  transform-origin: center;
  /* border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ffffff;
  margin: 10px auto; */
  transition: transform 0.3s ease;
}
.wind-label{
  position: absolute;
  top: calc(50% + 12px);
  text-align: center;
  right: 24px;
}
.score-label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  margin-top: 5px;
}
.score-label.excelente {
  background-color: #4CAF50; /* Verde para excelente */
}
.score-label.aceitavel {
  background-color: #FFC107; /* Amarelo para aceitável */
  color:black;
}
.score-label.desfavoravel {
  background-color: #f44336; /* Vermelho para desfavorável */
}